In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd
import scipy.stats as stats

In [3]:
df_DL=pd.read_csv('../../datasets/DeliveryList.csv')
df_DL[:3]

           날짜   상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
0  2019-05-16  V2_0  8.801047e+12   발주가능   384  세탁세제    72
1  2019-05-16  V2_3  8.801047e+12   발주가능   207  세탁세제     5
2  2019-05-16  V2_7  8.801047e+12   발주가능   520  헤어케어    19

In [7]:
## dtype 및 null 값 확인
df_DL.info() ## 날짜 data 이용하기

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      15000 non-null  object
 1   상품명     15000 non-null  object
 2   바코드     14992 non-null  float64
 3   발주가능상태  15000 non-null  object
 4   입고수량    15000 non-null  int64
 5   카테고리    15000 non-null  object
 6   출고수량    15000 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 820.4+ KB

In [10]:
df_DL.describe(include=object) ## 2019-05-26 이런 형식은 주단위, 분기 단위를 사용하기 어려움.

                날짜     상품명 발주가능상태   카테고리
count        15000   15000  15000  15000
unique          84     528      3      8
top     2019-05-26  V2_114   발주가능   세탁세제
freq           226      47  14700   4265