## 감성 사전에 의한 감성 분석

### 감성 사전 가져오기

In [1]:
import pandas as pd

In [6]:
df_positives = pd.read_csv('../../datasets/pos_pol_word.txt', delimiter='\t')
df_positives = df_positives[15:]
df_positives[:3]

       출처
15    (-;
16   (^^)
17  (^-^)

In [7]:
df_negatives = pd.read_csv('../../datasets/neg_pol_word.txt', delimiter='\t')
df_negatives = df_negatives[15:]
df_negatives[:3]

      출처
15    가난
16  가난뱅이
17  가난살이

### 문장에 점수 적용(긍정 / 부정)

In [9]:
comment = '코로나19의 여파로 전 세계 교사들과 학생들 모두 혼란스러운 시기를 보내고 있습니다. 어려움 속에서도 학생들을 위해 안간힘을 쓰고 있는 모든 선생님들에게, 응원과 박수를 함께 보냅니다.'

In [13]:
# 긍정 단어 포함 확인
for positive_word in df_positives['출처'] : 
    if positive_word in comment :#comment 안에 positive_word 가 있냐?
        print('positive word in comment : {0}'.format(positive_word)) # 있으면 format 안에 있는 변수를 써줘라

positive word in comment : 운
positive word in comment : 함께

In [19]:
for negative_word in df_negatives['출처'] : 
    if negative_word in comment :#comment 안에 negative_word 가 있냐?
        print('neagtive word in comment : {0}'.format(negative_word))

neagtive word in comment : 어려움
neagtive word in comment : 해
neagtive word in comment : 혼란스러운