In [9]:
%conda install pymongo

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\01-10\anaconda3

  added / updated specs:
    - pymongo


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2023.08.22 |       haa95532_0         123 KB
    conda-23.7.4               |  py311haa95532_0         1.3 MB
    openssl-1.1.1w             |       h2bbff1b_0         5.5 MB
    ------------------------------------------------------------
                                           Total:         6.9 MB

The following packages will be UPDATED:

  ca-certificates                     2023.05.30-haa95532_0 --> 2023.08.22-haa95532_0
  conda                              23.7.3-py311haa95532_0 --> 23.7.4-py311haa95532_0
  openssl                                 1.1.1v-h2bbff1b_0 --> 1.1.1w-h2bbff1b_0



Downloading and Extracting Packages

ca-certificates-2023 | 123 KB    |            |   0%

openssl-1.1.1w       | 5.5 MB    |            |   0%


conda-23.7.4         | 1.3 MB    |            |   0%


conda-23.7.4         | 1.3 MB    | ###1       |  32%

openssl-1.1.1w       | 5.5 MB    |            |   1%


conda-23.7.4         | 1.3 MB    | ########3  |  84%

openssl-1.1.1w       | 5.5 MB    | 8          |   9%
ca-certificates-2023 | 123 KB    | ##5        |  26%

openssl-1.1.1w       | 5.5 MB    | ###        |  31%
ca-certificates-2023 | 123 KB    | ########## | 100%

openssl-1.1.1w       | 5.5 MB    | ####8      |  48%

openssl-1.1.1w       | 5.5 MB    | ######7    |  68%

openssl-1.1.1w       | 5.5 MB    | ########4  |  84%

openssl-1.1.1w       | 5.5 MB    | ########## | 100%


conda-23.7.4         | 1.3 MB    | ########## | 100%








Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [10]:
import pymongo as mg
import pandas as pd

In [11]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [12]:
database = client['study_data_analytics']

In [13]:
collection = database['collection_update'] # 테이블

In [14]:
cursor_data = collection.find({})

In [15]:
df_collect_upadate = pd.DataFrame(list(cursor_data))
df_collect_upadate[:2]

                        _id   name  age   city
0  65012a6c89674e3929d3db2e  Alice   25  Seoul
1  65012a6c89674e3929d3db2f    Bob   30  Busan

In [16]:
from datetime import datetime
df_collect_upadate['update'] = datetime.now()
df_collect_upadate[:2]

                        _id   name  age   city                     update
0  65012a6c89674e3929d3db2e  Alice   25  Seoul 2023-09-13 13:05:30.708238
1  65012a6c89674e3929d3db2f    Bob   30  Busan 2023-09-13 13:05:30.708238

In [22]:
collection_new = database['collect_update_new'] #'study_data_analytics' 폴더생성
dict_collect_update = df_collect_upadate.to_dict(orient = 'recodes')
result = collection_new.insert_many(dict_collect_update)

C:\Users\01-10\AppData\Local\Temp\ipykernel_8496\587625133.py:2: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  dict_collect_update = df_collect_upadate.to_dict(orient = 'recodes')

In [25]:
result.inserted_ids

[ObjectId('65012a6c89674e3929d3db2e'),
 ObjectId('65012a6c89674e3929d3db2f'),
 ObjectId('65012a6c89674e3929d3db30')]