In [1]:
import pymongo as mg
import pandas as pd

In [2]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [3]:
database = client['db_NHIS']

In [4]:
collection = database['NSC2_BNC_V2_1']

In [6]:
cursor = collection.find({})

In [7]:
list_BNC_V2_1= list(cursor)

In [10]:
df_BNC_V2_1 = pd.DataFrame(list_BNC_V2_1)

In [11]:
df_BNC_V2_1

,_id,STD_YYYY,RN_INDI,SEX,SGG,GAIBJA_TYPE,SMPL_TYPE_CD,CTRB_Q10,G1E_OBJ_YN,DSB_TYPE_CD,DSB_SVRT_CD_V2
0,64d310b2e3a5c452db31cb42,2002,1433,1,29140,7,1,NaN,NaN,NaN,NaN
1,64d310b2e3a5c452db31cb43,2003,1433,1,29140,7,1,NaN,NaN,NaN,NaN
2,64d310b2e3a5c452db31cb44,2004,1433,1,29140,7,1,NaN,NaN,NaN,NaN
3,64d310b2e3a5c452db31cb45,2005,1433,1,29140,7,1,NaN,NaN,NaN,NaN
4,64d310b2e3a5c452db31cb46,2006,1433,1,29140,7,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
13022,64d310b3e3a5c452db31fe20,2012,3000357,2,28237,6,4,NaN,NaN,NaN,NaN
13023,64d310b3e3a5c452db31fe21,2013,3000357,2,28245,2,4,6.0,NaN,NaN,NaN
13024,64d310b3e3a5c452db31fe22,2014,3000357,2,28245,2,4,6.0,NaN,NaN,NaN
13025,64d310b3e3a5c452db31fe23,2015,3000357,2,28245,2,4,7.0,NaN,NaN,NaN
13026,64d310b3e3a5c452db31fe24,2015,3000758,1,41287,6,4,NaN,NaN,NaN,NaN

In [13]:
df_BNC_V2_1.to_csv('./NSC2_BNC_V2_1.csv')