In [1]:
import pymongo as mg
import pandas as pd

In [2]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [3]:
database = client['db_medicals']

In [4]:
collection = database['RecurrenceOfSurgery']

In [5]:
cursor = collection.find({})
data_list = cursor

In [6]:
df_ROS = pd.DataFrame(data_list)
df_ROS.head()

,_id,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,64d338fcd06f56ad1c37ea13,0,1PT,22.8,3,51.0,0.0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.50,4,Down,0
1,64d338fcd06f56ad1c37ea14,1,2PT,44.9,4,26.0,0.0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.10,4,Up,0
2,64d338fcd06f56ad1c37ea15,2,3PT,53.0,3,NaN,0.0,0,0,1,...,0,67.5,27.3,10.2,0,-1.77,1749.00,4,Down,0
3,64d338fcd06f56ad1c37ea16,3,4PT,54.7,4,18.0,0.0,0,1,0,...,0,49.2,18.7,19.9,0,-1.58,1796.20,4,Down,0
4,64d338fcd06f56ad1c37ea17,4,5PT,53.8,4,NaN,0.0,0,1,0,...,0,58.8,14.7,5.2,0,-0.79,2021.48,4,Up,0

In [7]:
df_ROS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894 entries, 0 to 1893
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     1894 non-null   object
 1   Unnamed: 0              1894 non-null   int64
 2   환자ID                    1894 non-null   object
 3   Large Lymphocyte        1894 non-null   float64
 4   Location of herniation  1894 non-null   int64
 5   ODI                     462 non-null    float64
 6   가족력                     1843 non-null   float64
 7   간질성폐질환                  1894 non-null   int64
 8   고혈압여부                   1894 non-null   int64
 9   과거수술횟수                  1894 non-null   int64
 10  당뇨여부                    1894 non-null   int64
 11  말초동맥질환여부                1894 non-null   int64
 12  빈혈여부                    1894 non-null   int64
 13  성별                      1894 non-null   int64
 14  스테로이드치료                 1894 non-null   int64
 15  신부전여부                   1894 non-null   int64
 16  신장                      1894 non-null   int64
 17  심혈관질환                   1894 non-null   int64
 18  암발병여부                   1894 non-null   int64
 19  연령                      1894 non-null   int64
 20  우울증여부                   1894 non-null   int64
 21  입원기간                    1894 non-null   int64
 22  입원일자                    1894 non-null   int64
 23  종양진행여부                  1894 non-null   int64
 24  직업                      1479 non-null   object
 25  체중                      1894 non-null   float64
 26  퇴원일자                    1894 non-null   int64
 27  헤모글로빈수치                 1893 non-null   float64
 28  혈전합병증여부                 1894 non-null   int64
 29  환자통증정도                  1894 non-null   int64
 30  흡연여부                    1894 non-null   int64
 31  통증기간(월)                 1890 non-null   float64
 32  수술기법                    1813 non-null   object
 33  수술시간                    1840 non-null   float64
 34  수술실패여부                  1894 non-null   int64
 35  수술일자                    1894 non-null   int64
 36  재발여부                    1894 non-null   int64
 37  혈액형                     1894 non-null   object
 38  전방디스크높이(mm)             1894 non-null   float64
 39  후방디스크높이(mm)             1894 non-null   float64
 40  지방축적도                   1891 non-null   float64
 41  Instability             1894 non-null   int64
 42  MF + ES                 1894 non-null   float64
 43  Modic change            1894 non-null   int64
 44  PI                      1890 non-null   float64
 45  PT                      1890 non-null   float64
 46  Seg Angle(raw)          1893 non-null   float64
 47  Vaccum disc             1894 non-null   int64
 48  골밀도                     998 non-null    float64
 49  디스크단면적                  1893 non-null   float64
 50  디스크위치                   1894 non-null   int64
 51  척추이동척도                  1894 non-null   object
 52  척추전방위증                  1894 non-null   int64
dtypes: float64(16), int64(31), object(6)
memory usage: 784.4+ KB

In [10]:
df_ROS.columns

Index(['_id', 'Unnamed: 0', '환자ID', 'Large Lymphocyte',
       'Location of herniation', 'ODI', '가족력', '간질성폐질환', '고혈압여부', '과거수술횟수',
       '당뇨여부', '말초동맥질환여부', '빈혈여부', '성별', '스테로이드치료', '신부전여부', '신장', '심혈관질환',
       '암발병여부', '연령', '우울증여부', '입원기간', '입원일자', '종양진행여부', '직업', '체중', '퇴원일자',
       '헤모글로빈수치', '혈전합병증여부', '환자통증정도', '흡연여부', '통증기간(월)', '수술기법', '수술시간',
       '수술실패여부', '수술일자', '재발여부', '혈액형', '전방디스크높이(mm)', '후방디스크높이(mm)', '지방축적도',
       'Instability', 'MF + ES', 'Modic change', 'PI', 'PT', 'Seg Angle(raw)',
       'Vaccum disc', '골밀도', '디스크단면적', '디스크위치', '척추이동척도', '척추전방위증'],
      dtype='object')

In [12]:
df_ROS.count()

_id                       1894
Unnamed: 0                1894
환자ID                      1894
Large Lymphocyte          1894
Location of herniation    1894
ODI                        462
가족력                       1843
간질성폐질환                    1894
고혈압여부                     1894
과거수술횟수                    1894
당뇨여부                      1894
말초동맥질환여부                  1894
빈혈여부                      1894
성별                        1894
스테로이드치료                   1894
신부전여부                     1894
신장                        1894
심혈관질환                     1894
암발병여부                     1894
연령                        1894
우울증여부                     1894
입원기간                      1894
입원일자                      1894
종양진행여부                    1894
직업                        1479
체중                        1894
퇴원일자                      1894
헤모글로빈수치                   1893
혈전합병증여부                   1894
환자통증정도                    1894
흡연여부                      1894
통증기간(월)                   1890
수술기법                      1813
수술시간                      1840
수술실패여부                    1894
수술일자                      1894
재발여부                      1894
혈액형                       1894
전방디스크높이(mm)               1894
후방디스크높이(mm)               1894
지방축적도                     1891
Instability               1894
MF + ES                   1894
Modic change              1894
PI                        1890
PT                        1890
Seg Angle(raw)            1893
Vaccum disc               1894
골밀도                        998
디스크단면적                    1893
디스크위치                     1894
척추이동척도                    1894
척추전방위증                    1894
dtype: int64

In [13]:
df_BND_drops = df_BND.drop(columns=['_id','Unnamed: 0','환자ID', '입원기간', '입원일자',])
df_BND_drops.head(2)

   RN_INDI BTH_YYYY  DTH_YYYYMM     COD1     COD2
0   294364   1921LE    200707.0  T08-T14  W00-W19
1   646257   1921LE    200805.0  A15-A19      NaN

In [14]:
df_BND_drops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RN_INDI     1000 non-null   int64
 1   BTH_YYYY    1000 non-null   object
 2   DTH_YYYYMM  71 non-null     float64
 3   COD1        60 non-null     object
 4   COD2        7 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 39.2+ KB

In [16]:
df_BND_drops.describe()

            RN_INDI     DTH_YYYYMM
count  1.000000e+03      71.000000
mean   6.404133e+05  201471.873239
std    5.241253e+05     432.203819
min    1.433000e+03  200707.000000
25%    2.812005e+05  201104.000000
50%    5.499230e+05  201508.000000
75%    8.177570e+05  201904.500000
max    3.000758e+06  202105.000000

In [17]:
df_BND_drops.describe(include=object)

        BTH_YYYY COD1     COD2
count       1000   60        7
unique        95   42        6
top         1968  C34  W75-W84
freq          24    4        2

In [18]:
df_BND_drops.count()

RN_INDI       1000
BTH_YYYY      1000
DTH_YYYYMM      71
COD1            60
COD2             7
dtype: int64

In [19]:
df_BND_drops.value_counts()

RN_INDI  BTH_YYYY  DTH_YYYYMM  COD1     COD2
60164    1932      201910.0    T51-T65  X00-X09    1
294364   1921LE    200707.0    T08-T14  W00-W19    1
459355   1947      200902.0    S00-S09  V01-V09    1
466622   1938      201409.0    T15-T19  W75-W84    1
616301   1955      201012.0    T66-T78  X60-X84    1
678141   1939      201210.0    T15-T19  W75-W84    1
863928   1934      200812.0    T08-T14  V20-V29    1
dtype: int64

In [20]:
df_BND_drops['BTH_YYYY'].value_counts()

1968    24
1960    24
1969    21
1967    21
1988    19
        ..
1929     1
1925     1
1924     1
1923     1
1922     1
Name: BTH_YYYY, Length: 95, dtype: int64

In [22]:
df_BND_drops['BTH_YYYY'].unique()

array(['1921LE', 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930,
       1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941,
       1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952,
       1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963,
       1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974,
       1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985,
       1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996,
       1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015], dtype=object)

In [ ]:
unique